/* App.css */

/* Căn chỉnh toàn bộ trang */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Container cho ứng dụng */
.app-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px; 
}

/* Tiêu đề */
h1, h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
}

/* Nút bấm */
button {
  padding: 15px;
  margin: 10px 0;
  width: 100%;
  font-size: 1.2rem;
  background-color: #44371b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Khi hover vào nút */
button:hover {
  background-color: #0056b3;
}

/* Nút 'Next'  */
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Responsive Design */
@media (max-width: 768px) {
  h1, h2 {
    font-size: 1.2rem;  /* Giảm kích thước tiêu đề trên các màn hình nhỏ */
  }

  button {
    font-size: 1rem;
    padding: 12px;
  }
}
