.main-image {
    background-color: #f18c4d;
  }

  .main-image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 47vh;
  }

  .navbar {
    background-color: #f18c4d;
    color: white;
    padding: 10px;
    padding-right: 630px;
    text-align: center;
  }

  .navbar-nav .nav-link {
    color: white;
  }

  /* Footer */
  .footer {
    background-color: #debc6d;
    color: white;
    text-align: center;
    padding: 20px 0;
  }

  .container {
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: white;
  }

  .section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .section-content {
    text-align: center;
    font-size: 1rem;
  }